.meal{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  margin-top: 20px;
}
.mealsname{
  font-weight: bold;
  color:black;
}
.description{
  margin-top:-10px;
  font-style: italic;
  color:black;
}
.price{
  color: #b93602;
  font-weight: bold;
  font-size: large;
}